{% extends 'layouts/index.html' %}
{% load static %}

{% block content %}
    <style type="text/css">
        .posts {
        display: flex;
        justify-content: space-between;
        width: 80%;
        margin-left: 10%;
        margin-top: 20px;
        flex-wrap: wrap;
    }
    .image > img {
        width: 100%;
    }
    </style>
    <div class="posts">
        {% for post in posts %}
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <div class="image">
                        {% if post.image %}
                            <img src="/media/{{ post.image }}/" alt="">
                        {% else %}
                            <img src="{% static 'img.png' %}" alt="">
                        {% endif %}
                    </div>
                    <h5 class="card-title">{{ post.title }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Rate:{{ post.rate }}</h6>
                    <a href="/posts/{{ post.id }}/" class="card-link">More</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}